@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('ITCAvantGardeStd-Md.eot');
    src: url('ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('ITCAvantGardeStd-Md.woff') format('woff'),
        url('ITCAvantGardeStd-Md.ttf') format('truetype'),
        url('ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.eot');
    src: url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff'),
        url('Gilroy-Semibold.ttf') format('truetype'),
        url('Gilroy-Semibold.svg#Gilroy-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Extrabold.eot');
    src: url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Extrabold.woff2') format('woff2'),
        url('Gilroy-Extrabold.woff') format('woff'),
        url('Gilroy-Extrabold.ttf') format('truetype'),
        url('Gilroy-Extrabold.svg#Gilroy-Extrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype'),
        url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

